* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 100vh;
}

.main-visual {
    width: 100%;
    height: 100%;
    position: relative;
}

.title {
    position: absolute;
    width: 75%;
    height: 50%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.header li {
    list-style: none;
    float: left;
}

.header a {
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: "Futura";
    font-weight: normal;
    font-size: 20pt;
}

.header a: hover {
    color: blue;
}

.title img {
    width: 900px;
    z-index: 990;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    z-index: 990;
    font-size: 40px;
    color: #fff;
    font-family: "Futura";
}

.single-item {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.single-item div {
    height: 100%;
    background-size: cover;
}

.image1 {
    background-image: url(Sozai/images/background1.jpg)
}

.image2 {
    background-image: url(Sozai/images/background2.jpg);
}

.image3 {
    background-image: url(Sozai/images/background3.jpg);
}

.image4 {
    background-image: url(Sozai/images/background4.jpg);
}

.image5 {
    background-image: url(Sozai/images/background5.jpg);
}

h2 {
    text-align: center;
    font-size: 60px;
    color: blue;
    font-family: "Futura";
    margin-top: 50px;
}

.first-section {
    background-color: #fff;
    padding: 50px;
}


.first-section h2 {
    text-align: center;
    display: block;
}

.first-box {
    width: 80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    padding-bottom:40px;
    
}

.box1 {
    width: 50%;
}

.box1 img{
    width: 100%;
    height: auto;
}

.box2 {
    width: 50%;
}

.box2 p {
    width: 400px;
    margin: 0 auto 20px;
}

.box2 a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #3D5CDB;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.second-box {
     width: 80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    padding-bottom:40px;
}

.box3{
    width: 50%;
}

.box3 p{
    width: 400px;
    height: auto;
    margin: 0 auto 20px;
}

.box3 a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: yellow;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.box4 {
    width: 50%;
}

.box4 img{
     width: 100%;
    height: auto;
    margin: 0 auto 20px;

}

#particle.js{
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}


.second-section {
    background-color: #d6e6f9;
    padding: 5px  20px 50px 20px;
}

.courses {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding:20px;
}


#html {
    background-color: #fff;
    width: 200px;
    height: 300px;
    float: left;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 5px gray;
}

.courseBox p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #183c61;
    margin: 10px;
    padding-top: 30px;
}

.courseBox img {
    height:40%;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.courseBox {
    background-color: #fff;
    width: 200px;
    height: 300px;
    padding:10px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 5px gray;
    display: block;
}

.courseBox a {
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 15px 20px;
    text-decoration: none;
    margin:  auto 5px 20px ;
}

#html a {
    background-color: darkorange;
}

#css a {
    background-color: skyblue;
}

#unity a {
    background-color: black;
}

#ruby a {
    background-color: red;
}

#js a {
    background-color: yellow;
}

#swift a {
    background-color: darkorange;
}

#go a {
    background-color: skyblue;
}

.third-section h2 {
    color: blue;
    text-align: center;
}

.responsive {
    padding: 20px 150px;
}

#slick img {
    height: auto;
    width: 100%;
    display: block;
}

.fourth-section {
    background-color: #fff;
}

.fourth-section h2 {
    color: blue;
    text-align: center;
}

.fourth-section iframe {
    display: block;
    margin: 0 auto;
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}


footer {
    background-color: #fff;
    color: blue;
    text-align: center;
    padding-top: 30px;
}